<!-- TODO: change picture -->
<!-- TODO: buttons flex right? -->
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <div class="p-d-inline-flex p-flex-wrap">
      <img src="../../../assets/testing.jpg" height="40" class="p-d-inline p-mr-2" style="margin-top: 10px;">
      <h4 class="p-d-inline p-mr-2">Rigardt Engelbrecht</h4>
    </div>
  </ng-template>
</p-menubar>


<!-- <div class="ui menu">
  <a class="ui item" [href]="cvDownloadLink">
    <div class="ui icon" data-tooltip="Download my CV" data-position="bottom left">
      <i class="download icon" style="color: #0073af"></i>
    </div>
  </a>

  <div class="right menu">
    <a class="ui item" [href]="linkedinLink">
      <div class="ui icon" data-tooltip="View my LinkedIn" data-position="bottom center">
        <i class="linkedin in icon" style="color: #0073af"></i>
      </div>
    </a>
    <a class="ui item" [href]="githubLink">
      <div class="ui icon" data-tooltip="View my GitHub" data-position="bottom center">
        <i class="github icon" style="color: black"></i>
      </div>
    </a>
  </div>

</div> -->
