<!-- TODO: update button colours -->
<!-- TODO: add tooltips -->
<p-toolbar>
  <div class="p-toolbar-group-left">
    <a [href]="cvDownloadLink">
      <p-button class="p-mr-2" icon="pi pi-cloud-download"></p-button>
    </a>
  </div>

  <div class="p-toolbar-group-right">
    <a [href]="githubLink">
      <button pButton class="p-mr-2" icon="pi pi-github" style="margin-right:10px"></button>
    </a>
    <a [href]="linkedinLink">
      <button pButton class="p-mr-2" label="in"></button>
    </a>
  </div>
</p-toolbar>


<!-- <div class="ui menu">
  <a class="ui item" [href]="cvDownloadLink">
    <div class="ui icon" data-tooltip="Download my CV" data-position="bottom left">
      <i class="download icon" style="color: #0073af"></i>
    </div>
  </a>

  <div class="right menu">
    <a class="ui item" [href]="linkedinLink">
      <div class="ui icon" data-tooltip="View my LinkedIn" data-position="bottom center">
        <i class="linkedin in icon" style="color: #0073af"></i>
      </div>
    </a>
    <a class="ui item" [href]="githubLink">
      <div class="ui icon" data-tooltip="View my GitHub" data-position="bottom center">
        <i class="github icon" style="color: black"></i>
      </div>
    </a>
  </div>

</div> -->
